:host {
  .container-flex{
    display: flex;
    background: #000;
    justify-content: center;
  }
  .title {
    background: #32dbc6;
    border: 2px solid #000;
    text-align: center;

    
  }
}
