<div class="login-wrapper">
    <h3>LOGIN</h3>
    <div class="form-wrapper">
        <form (ngSubmit)="login()">
            <div class="form-group">
                <label for="user">User:</label>
                <input name="user" class="form-control" type="text" placeholder="Enter username" [(ngModel)]="user" />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" [(ngModel)]="password"
                    placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        </form>
    </div>
</div>