:host {
    width: 80%;
    display: block;
    border: solid 1px #099EFF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
        // background-color: rgb(8, 138, 224);
        transition: 1000ms;
       
    }
   
   

    .task-title {
        font-size: 22px;
    }
    .task-description {
        font-size: 16px;
        color: rgb(49, 49, 49);
    }
    .task-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding-top: 10px;
        border-top: solid 1px #099EFF   ;

        .task-date {
            color: #F8F9FA;

            &.danger {
                color:#eb7070;
            }
            &.success{
                color:#64e291;
            }
        }
    }
    .btn-delete {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}
// @media all and (max-width: 320px){
//     .task-header{
//         display: flex;
//         flex-direction: column;
//         flex-wrap: wrap;
        
        
//     }
//     .task-title{
//         display: block;
//         font-size: 16px;
        
//     }
//     span.task-description{
//         display: block;
       
//         font-size: 14px;
        
//     }
//     .task-footer {
//         display: flex;
//         flex-direction: column;      
//     }
// }