:host {
  width: 80%;
  display: block;
  border: solid 1px rgb(2, 2, 2);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.411);
    // background-color: rgb(8, 138, 224);
    transition: 1000ms;
  }

  .task-title {
    font-size: 22px;
    border: none;
    &:not(:disabled) {
      border-bottom: solid gray 1px;
    }

    &:disabled {
      background-color: white;
    }
  }
  .task-description {
    display: block;
    font-size: 16px;
    color: rgb(49, 49, 49);
    border: none;
    &:not(:disabled) {
      border-bottom: solid gray 1px;
    }

    &:disabled {
      background-color: white;
    }
  }
  .task-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px rgb(7, 7, 7);

    .task-date {
      color: #f8f9fa;

      &.danger {
        color: #eb7070;
        border: none;
        text-align: end;
        

        &:not(:disabled) {
          border-bottom: solid gray 1px;
        }

        &:disabled {
          background-color: white;
        }
      }
      &.success {
        color: #64e291;
      }
    }
  }
}
