<div class="task-header">
    <form [formGroup]="editTaskForm">
        <input type="text" class="task-title" formControlName="title">
        <input type="text" class="task-description" formControlName="description">
        <div class="task-footer">
            <span class="task-date success">{{ task.date | date:'shortDate' | date: 'dd/MM/yyyy' }}</span>
            <input class="task-date danger" type="text" formControlName="deadLine" bsDatepicker
                [bsConfig]="{ adaptivePosition: true }">

        </div>
    </form>


</div>
<div class="task-footer">
    <button class=" btn btn-warning btn-task text-white" (click)="editTask(task)">
        <span *ngIf="!isEditing">Edit</span>
        <span *ngIf="isEditing">Cancel</span>
    </button>

    <button class="btn btn-danger btn-task" (click)="deleteTask()" *ngIf="isEditing">Delete</button>
    <button class="btn btn-success btn-task save" *ngIf="isEditing" (click)="saveTask(task)">Save</button>
    <button class="btn  btn-task done" *ngIf="!isEditing" (click)="markAsDone(task)"
        [ngClass]="{'btn-success': task.isDone, 'btn-outline-success': !task.isDone}">
        <span *ngIf="!task.isDone">Done</span>
        <span *ngIf="task.isDone">Undo</span>
    </button>
</div>